#################
## Eclipse
#################

*.pyc
*.spyderproject
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*~
*.egg-info

*.Rdata
*.Rhistory
*.gzip

til/data/Destinie/Import
til/data/archives_R/Patrimoine/Archives/
til/data/Patrimoine/archives_R/*.xls
til/data/Patrimoine/archives_R/*.csv
til/data/Patrimoine/archives_R/*.h5
til/data/Destinie/*.csv
til/data/Destinie/*.txt
til/data/Destinie/*.doc
til/data/Patrimoine/*.csv
til/data/archives_R/Patrimoine/subset.Rdata
til/data/Patrimoine/lien_parent_enfant/*.csv
til/data/Patrimoine/lien_parent_enfant/*.h5
til/data/Patrimoine/archives_R/lien_parent_enfant/*.csv
til/data/Patrimoine/archives_R/lien_parent_enfant/*.h5

til/data/Patrimoine/Past/*.dta

til/output/*.h5
til/output/*.csv
til/output/check_simul/*.csv


til/pgm/profile_pension*
til/pgm/CONFIG.py
til/pgm/CONFIG.pydata/Patrimoine/path_config.R
til/data/Patrimoine/path_config.R

*.csv
*.h5
til/pgm/CONFIG.py
til/pgm/tout_pension*
til/CONFIG.py
