#################
## Eclipse
#################

*.pyc
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


*.Rdata
*.Rhistory
*.gzip

data/Patrimoine/Archives/
data/Patrimoine/*.xls
data/Patrimoine/*.csv
data/Patrimoine/*.h5
!data/Patrimoine/subset.Rdata
data/Patrimoine/lien_parent_enfant/*.csv
data/Patrimoine/lien_parent_enfant/*.h5
model/*.csv
model/*.h5
model/*.csv
!model/test.h5
#model/data/*.csv

data/Patrimoine/Past/*.dta
doc/destinie/*.pdf
doc/*.pdf
doc/

output/*.h5
output/*.csv
output/check_simul/*.csv

pgm/CONFIG.py
data/Patrimoine/path_config.R
