#################
## Eclipse
#################

*.pyc
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*~
*.egg-info

*.Rdata
*.Rhistory
*.gzip

data/Destinie/Import
data/archives_R/Patrimoine/Archives/
data/Patrimoine/archives_R/*.xls
data/Patrimoine/archives_R/*.csv
data/Patrimoine/archives_R/*.h5
data/Destinie/*.csv
data/Destinie/*.txt
data/Destinie/*.doc
data/Patrimoine/*.csv
data/archives_R/Patrimoine/subset.Rdata
data/Patrimoine/lien_parent_enfant/*.csv
data/Patrimoine/lien_parent_enfant/*.h5
data/Patrimoine/archives_R/lien_parent_enfant/*.csv
data/Patrimoine/archives_R/lien_parent_enfant/*.h5

data/Patrimoine/Past/*.dta

output/*.h5
output/*.csv
output/check_simul/*.csv


pgm/CONFIG.py
pgm/CONFIG.pydata/Patrimoine/path_config.R
